<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col m6 offset-m3">
      <div><img src="/img/banner03.png" alt="banner" class="responsive-img"></div>

        <div style="height: 10px"></div>
        <div class="col s12">
            <h4 style="color: darkgreen">Add / Edit user</h4>
            <div class="row">
                <form class="col s12" th:action="@{/save-contact}" th:object="${contact}" method="post">
                    <input id="id" name="id" type="hidden" th:field="*{id}">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="first-name" type="text" class="validate" th:field="*{name}">
                            <label for="first-name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="last-name" type="text" class="validate" th:field="*{lastName}">
                            <label for="last-name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail_outline</i>
                            <input id="email" type="text" class="validate" th:field="*{email}">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s6 left">
                            <i class="material-icons prefix">check</i>
                            <input id="age" type="number" max="120" min="16" step="1" value="18"
                                   class="validate"
                                   th:field="*{age}">
                            <label for="age">Age</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 right">
                            <button class="waves-effect waves-light btn" value="Save"><i
                                    class="material-icons left">save</i>Save
                            </button> &nbsp;
                            <a th:href="'/contacts/'" class="waves-effect waves-light btn"><i
                                    class="material-icons right" th:href="'/contacts/'">cancel</i>Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <div class="footer-copyright" style="text-align: center">
                <div class="container" style="color: darkcyan">
                    <br><br><br>
                    <img src="/img/line.png" alt="line">
                    <br><br>
                    © 2021 Copyright TelRan
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>